# Backend
env
__pycache__

# Frontend
.react-router
build
node_modules

# Misc
.DS_Store

# Datasets
backend/**/*.csv
backend/**/*.xlsx
Government_Resources
blocklist.json

# Builds
dist/
webbenchdash/public/vulnerability.csv
